https://www.kaggle.com/crawford/python-groupby-tutorial/code

In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
# Random pets column
pet_list = ["cat", "hamster", "alligator", "snake"]
pet = [random.choice(pet_list) for i in range(1,15)]

# Random weight of animal column
weight = [random.choice(range(5,15)) for i in range(1,15)]

# Random length of animals column
length = [random.choice(range(1,10)) for i in range(1,15)]

# random age of the animals column
age = [random.choice(range(1,15)) for i in range(1,15)]

# Put everyhting into a dataframe
df = pd.DataFrame()
df["animal"] = pet
df["age"] = age
df["weight"] = weight
df["length"] = length

# make a groupby object
animal_groups = df.groupby("animal")


# Groupby 
---
*This tutorial roughly picks up from the <a href="https://www.kaggle.com/crawford/python-merge-tutorial/">Python Merge Tutorial</a> but also works as a stand alone Groupby tutorial. If you come from a background in SQL and are familiar with GROUP BY,  you can scroll through this to see some examples of the syntax. *
<br><br>

Groupby is a pretty simple concept. You create a grouping of categories and apply a function to the categories. It's a simple concept but it's an extremely valuable technique that's widely used in data science. The value of groupby really comes from it's ability to aggregate data efficiently, both in performance and the amount code it takes. In real data science projects, you'll be dealing with large amounts of data and trying things over and over, so efficiency really becomes an important consideration. 
<br><br>

# Understanding Groupby
Here's a super simple dataframe to illustrate some examples. We'll be grouping the data by the "animal" column where there are four categories of animals: 
- alligators
- cats
- snakes
- hamsters

In [3]:
df

       animal  age  weight  length
0       snake   10      11       8
1         cat   11       9       9
2       snake    9      13       1
3     hamster   12      13       9
4     hamster   10      14       8
5   alligator    2       9       2
6   alligator    5      12       9
7   alligator    8       7       2
8   alligator    8       5       9
9   alligator    9      11       8
10  alligator   12       9       6
11    hamster   13       5       2
12    hamster   10       8       4
13        cat    2       5       7

One question we could ask about the animal data might be, "What's the average weight of all the snakes, cats, hamsters, and alligators?" To find the average weight of each category of animal, we'll group the animals by animal type and then apply the mean function. We could apply other functions too. We could apply "sum" to add up all the weights, "min" to find the lowest, "max" to get the highest, or "count" just to get a count of each animal type. 
<br><br>

This is a short list of some aggregation functions that I find handy but it's definitely not a complete list of possible operations.
<br>

<table>
<tr>
    <td><b>Summary statistics</b></td>
    <td><b>Numpy operations</b></td>
    <td><b>More complex operations</b></td>
</tr>
<tr>
    <td>mean</td>
    <td>np.mean</td>
    <td>.agg()</td>
</tr>
<tr>
    <td>median</td>
    <td>np.min</td>
    <td>agg(["mean", "median"])</td>
</tr>
<tr>
    <td>min</td>
    <td>np.max</td>
    <td>agg(custom_function())</td>
</tr>
<tr>
    <td>max</td>
    <td>np.sum</td>
</tr>
<tr>
    <td>sum</td>
    <td>np.product</td>
</tr>
<tr>
    <td>describe</td>
</tr>
<tr>
    <td>count or size</td>
</tr>
</table>

<br><br>

In [4]:
df['age'].mean()

8.642857142857142

In [5]:
df.describe()

             age     weight     length
count  14.000000  14.000000  14.000000
mean    8.642857   9.357143   6.000000
std     3.455367   3.103525   3.113247
min     2.000000   5.000000   1.000000
25%     8.000000   7.250000   2.500000
50%     9.500000   9.000000   7.500000
75%    10.750000  11.750000   8.750000
max    13.000000  14.000000   9.000000

Taking the mean of all animals ignores the categorical features: 
- alligators
- cats
- snakes
- hamsters

The following two lines of code group the animals by type, then apply the mean function to the weight column.

In [9]:
# Group by animal category
animal_groups = df.groupby("animal")
type(animal_groups)

pandas.core.groupby.generic.DataFrameGroupBy

A new type of data structure (different from Series and DataFrame)!

In [10]:
# Apply mean function to wieght column
animal_groups['weight'].mean()

animal
alligator     8.833333
cat           7.000000
hamster      10.000000
snake        12.000000
Name: weight, dtype: float64

Here's what happens when you run that code:


### 1. Group the unique values from the animal column 
<!--<img src="https://imgur.com/DRl1wil.jpg" width=400 alt="group stuff">-->
<img src="groupby_tutorial/DRl1wil.jpg" width=400 alt="group stuff">
<br><br>

### 2. Now there's a bucket for each group
<!--<img src="https://imgur.com/Q9fHw1O.jpg" width=250 alt="make buckets">-->
<img src="groupby_tutorial/Q9fHw1O.jpg" width=250 alt="make buckets">
<br><br>

### 3. Toss the other data into the buckets 
<!--<img src="https://imgur.com/A29SKAY.jpg" width=500 alt="add data">-->
<img src="groupby_tutorial/A29SKAY.jpg" width=500 alt="add data">
<br><br>

### 4. Apply a function on the weight column of each bucket
<!--<img src="https://imgur.com/xZnMuPZ.jpg" width=700 alt="calculate something">-->
<img src="groupby_tutorial/xZnMuPZ.jpg" width=700 alt="calculate something">

another example of using a groupby operation:

In [11]:
# Or apply the "max" function to the age column
animal_groups['age'].max()

animal
alligator    12
cat          11
hamster      13
snake        10
Name: age, dtype: int64

In [12]:
animal_groups['age'].min()

animal
alligator     2
cat           2
hamster      10
snake         9
Name: age, dtype: int64