## Classes

In [5]:
class Person:
    
    def __init__(self, name, life, jump_length=5, hat_color='red'):
        self.name = name
        self.life = life
        self.jump_length = jump_length
        self.hat_color_value = hat_color
        
    def walk(self):
        print (self.name + ' with ' + self.hat_color_value + ' hat is walking')
        
    def jump(self):
        print (self.name + ' jumped by ' + str(self.jump_length) )
        
    def jump_by(self, height):
        print (self.name + ' jumped by ' + str(height) )
        
    def say_hi_to(self, person):
        print(self.name + ' said hi to ' + person.name)

In [6]:
mario = Person('Mario', 3)

In [8]:
mario.walk()
mario.jump()
mario.jump_by(50)

Mario with red hat is walking
Mario jumped by 5
Mario jumped by 50

In [9]:
luigi = Person('Luigi', 7)

mario.say_hi_to(luigi)

Mario said hi to Luigi

In [10]:
# Well let's mock up a game

In [11]:
class Weapon:
    
    def __init__(self, name, power=1):
        self.name = name
        self.power = 1

In [12]:
class Soldier:
    def __init__(self, name, weapon, life = 100):
        
        self.name = name
        self.weapon = weapon
        # self.armor = armor # I was gonna go fancy but I changed my mind :) 
        self.life = life
        
    def shoot_at(self, enemy):
        
        print(f'{self.name} is shooting at {enemy.name} with a {self.weapon.name} ({str(self.weapon.power)})')

In [16]:
arrow1 = Weapon('Short Bow', 1)
arrow2 = Weapon('Long Bow', 2)

soldier1 = Soldier('SoldierA', arrow1)
soldier2 = Soldier('SoldierB', arrow2)

In [19]:
soldier1.shoot_at(soldier2)

SoldierA is shooting at SoldierB with a Short Bow (1)

In [20]:
soldier2.shoot_at(soldier1)

SoldierB is shooting at SoldierA with a Long Bow (1)

In [47]:
import re

class DataCleaner:
    
    def __init__(self, df, removal_text):
        """
        cleans dataframe
        """
        self.df = df
        self.replacement_text = removal_text
        
    def clean_ssn(self, text):
        text_after = re.sub(r'\d{3}-\d{2}-\d{4}', self.replacement_text, text)
        return text_after
        
    def clean_column(self, column_name):
        """
        cleans the ssn values from the data frame column
        Parameters
        ----------
        column_name: str
        """
        df = self.df
        return [ self.clean_ssn(text) for text in df[column_name] ]
    
    def clean_column_and_update(self, column_name):
        
        new_values = self.clean_column(column_name)
        
        self.df[column_name] = new_values

In [48]:
import pandas as pd

In [49]:
df = pd.DataFrame()
df['SSN'] = [ f'222-11-33{str(i)} is the ssn number' for i in range(10, 30) ]

In [50]:
df.head()

                             SSN
0  222-11-3310 is the ssn number
1  222-11-3311 is the ssn number
2  222-11-3312 is the ssn number
3  222-11-3313 is the ssn number
4  222-11-3314 is the ssn number

In [51]:
cleaner = DataCleaner(df, '[removed]')

cleaner.clean_column('SSN')

['[removed] is the ssn number',
 '[removed] is the ssn number',
 '[removed] is the ssn number',
 '[removed] is the ssn number',
 '[removed] is the ssn number',
 '[removed] is the ssn number',
 '[removed] is the ssn number',
 '[removed] is the ssn number',
 '[removed] is the ssn number',
 '[removed] is the ssn number',
 '[removed] is the ssn number',
 '[removed] is the ssn number',
 '[removed] is the ssn number',
 '[removed] is the ssn number',
 '[removed] is the ssn number',
 '[removed] is the ssn number',
 '[removed] is the ssn number',
 '[removed] is the ssn number',
 '[removed] is the ssn number',
 '[removed] is the ssn number']

In [52]:
df.head()

                             SSN
0  222-11-3310 is the ssn number
1  222-11-3311 is the ssn number
2  222-11-3312 is the ssn number
3  222-11-3313 is the ssn number
4  222-11-3314 is the ssn number

In [29]:
cleaner.clean_column_and_update('SSN')

In [30]:
df.head()

                           SSN
0  [removed] is the ssn number
1  [removed] is the ssn number
2  [removed] is the ssn number
3  [removed] is the ssn number
4  [removed] is the ssn number

In [31]:
# # from filename import DataCleaner
# import filename

# filename.DataCleaner()

In [41]:
import random

In [33]:
random.randint # shift + tab + tab

87

In [39]:
from random import randint, choices

In [40]:
randint(0, 100)
choices([1,2,3])

[2]

In [36]:
# from faker import Faker

In [37]:
# faker_= Faker()

In [38]:
faker_.name()

'Kevin Bennett'

In [ ]:
# import faker

# faker_ = faker.Faker()

In [53]:
dir(mario)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'hat_color_value',
 'jump',
 'jump_by',
 'jump_length',
 'life',
 'name',
 'say_hi_to',
 'walk']

In [54]:
dir(faker_)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_factories',
 '_factory_map',
 '_locales',
 '_map_provider_method',
 '_select_factory',
 '_unique_proxy',
 '_weights',
 'add_provider',
 'address',
 'am_pm',
 'android_platform_token',
 'ascii_company_email',
 'ascii_email',
 'ascii_free_email',
 'ascii_safe_email',
 'bank_country',
 'bban',
 'binary',
 'boolean',
 'bothify',
 'bs',
 'building_number',
 'cache_pattern',
 'catch_phrase',
 'century',
 'chrome',
 'city',
 'city_prefix',
 'city_suffix',
 'color',
 'color_name',
 'company',
 'company_email',
 'company_suffix',
 'coordinate',
 'country',
 'country_calling_code',
 'country_code',
 'credit_card_expire',
 'credit_card_full',
 'credit_card_number',
 'credit_card_provider',
 'credit_card_security_code',
 'cryptocurrency',
 'cryptocurrency_code',
 'cryptocurrency_name',
 'csv',
 'currency',
 'currency_code',
 'currency_name',
 'currency_symbol',
 'date',
 'date_between',
 'date_between_dates',
 'date_object',
 'date_of_birth',
 'date_this_century',
 'date_this_decade',
 'date_this_month',
 'date_this_year',
 'date_time',
 'date_time_ad',
 'date_time_between',
 'date_time_between_dates',
 'date_time_this_century',
 'date_time_this_decade',
 'date_time_this_month',
 'date_time_this_year',
 'day_of_month',
 'day_of_week',
 'del_arguments',
 'dga',
 'domain_name',
 'domain_word',
 'dsv',
 'ean',
 'ean13',
 'ean8',
 'ein',
 'email',
 'factories',
 'file_extension',
 'file_name',
 'file_path',
 'firefox',
 'first_name',
 'first_name_female',
 'first_name_male',
 'first_name_nonbinary',
 'fixed_width',
 'format',
 'free_email',
 'free_email_domain',
 'future_date',
 'future_datetime',
 'generator_attrs',
 'get_arguments',
 'get_formatter',
 'get_providers',
 'hex_color',
 'hexify',
 'hostname',
 'http_method',
 'iban',
 'image_url',
 'internet_explorer',
 'invalid_ssn',
 'ios_platform_token',
 'ipv4',
 'ipv4_network_class',
 'ipv4_private',
 'ipv4_public',
 'ipv6',
 'isbn10',
 'isbn13',
 'iso8601',
 'items',
 'itin',
 'job',
 'json',
 'language_code',
 'language_name',
 'last_name',
 'last_name_female',
 'last_name_male',
 'last_name_nonbinary',
 'latitude',
 'latlng',
 'lexify',
 'license_plate',
 'linux_platform_token',
 'linux_processor',
 'local_latlng',
 'locale',
 'locales',
 'localized_ean',
 'localized_ean13',
 'localized_ean8',
 'location_on_land',
 'longitude',
 'mac_address',
 'mac_platform_token',
 'mac_processor',
 'md5',
 'military_apo',
 'military_dpo',
 'military_ship',
 'military_state',
 'mime_type',
 'month',
 'month_name',
 'msisdn',
 'name',
 'name_female',
 'name_male',
 'name_nonbinary',
 'null_boolean',
 'numerify',
 'opera',
 'paragraph',
 'paragraphs',
 'parse',
 'password',
 'past_date',
 'past_datetime',
 'phone_number',
 'port_number',
 'postalcode',
 'postalcode_in_state',
 'postalcode_plus4',
 'postcode',
 'postcode_in_state',
 'prefix',
 'prefix_female',
 'prefix_male',
 'prefix_nonbinary',
 'pricetag',
 'profile',
 'provider',
 'providers',
 'psv',
 'pybool',
 'pydecimal',
 'pydict',
 'pyfloat',
 'pyint',
 'pyiterable',
 'pylist',
 'pyset',
 'pystr',
 'pystr_format',
 'pystruct',
 'pytimezone',
 'pytuple',
 'random',
 'random_choices',
 'random_digit',
 'random_digit_not_null',
 'random_digit_not_null_or_empty',
 'random_digit_or_empty',
 'random_element',
 'random_elements',
 'random_int',
 'random_letter',
 'random_letters',
 'random_lowercase_letter',
 'random_number',
 'random_sample',
 'random_uppercase_letter',
 'randomize_nb_elements',
 'rgb_color',
 'rgb_css_color',
 'safari',
 'safe_color_name',
 'safe_domain_name',
 'safe_email',
 'safe_hex_color',
 'secondary_address',
 'seed',
 'seed_instance',
 'seed_locale',
 'sentence',
 'sentences',
 'set_arguments',
 'set_formatter',
 'sha1',
 'sha256',
 'simple_profile',
 'slug',
 'ssn',
 'state',
 'state_abbr',
 'street_address',
 'street_name',
 'street_suffix',
 'suffix',
 'suffix_female',
 'suffix_male',
 'suffix_nonbinary',
 'swift',
 'swift11',
 'swift8',
 'tar',
 'text',
 'texts',
 'time',
 'time_delta',
 'time_object',
 'time_series',
 'timezone',
 'tld',
 'tsv',
 'unique',
 'unix_device',
 'unix_partition',
 'unix_time',
 'upc_a',
 'upc_e',
 'uri',
 'uri_extension',
 'uri_page',
 'uri_path',
 'url',
 'user_agent',
 'user_name',
 'uuid4',
 'weights',
 'windows_platform_token',
 'word',
 'words',
 'year',
 'zip',
 'zipcode',
 'zipcode_in_state',
 'zipcode_plus4']