In [1]:
## dont touch this cell and assertions after the questions
score = {}

equality_check = lambda a, b: len(a) == len(b) and all([ x==y for x,y in zip(a,b)])
def assertion(question, result, expected):
    same = False
    try:
        if type(result) in (int, str, bool, type(None)):
            same = result == expected
        else:
            same = equality_check(result, expected)
    except:
        pass
    
    if question != None and same:
        score[question] = True
        
    print('correct' if same else 'incorrect')

In [2]:
state_names = ["Alaska", "Alabama", "Arkansas", "American Samoa", "Arizona", "California", "Colorado", "Connecticut", "District ", "of Columbia", "Delaware", "Florida", "Georgia", "Guam", "Hawaii", "Iowa", "Idaho", "Illinois", "Indiana", "Kansas", "Kentucky", "Louisiana", "Massachusetts", "Maryland", "Maine", "Michigan", "Minnesota", "Missouri", "Mississippi", "Montana", "North Carolina", "North Dakota", "Nebraska", "New Hampshire", "New Jersey", "New Mexico", "Nevada", "New York", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Puerto Rico", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Virginia", "Virgin Islands", "Vermont", "Washington", "Wisconsin", "West Virginia", "Wyoming"]

Documenting python code: https://realpython.com/documenting-python-code/

Use Only List Comprehensions

In [3]:
# hw 1
def get_states_with_5_letter():
    """
    return states with 5 letters 
    """
    return [state for state in state_names if len(state) == 5]

In [4]:
assertion('1', get_states_with_5_letter(), ['Idaho', 'Maine', 'Texas'])

correct

In [5]:
# hw 2 

def get_odd_numbers_from_list(arr):
    """
    return odd numbers from the list
    """
    return [num for num in arr if num % 2 == 1]

In [6]:
assertion('2a', get_odd_numbers_from_list([1,2,3]), [1,3])
assertion('2b', get_odd_numbers_from_list([1,2,3, 17]), [1,3, 17])
assertion('2c', get_odd_numbers_from_list([]), [])

correct
correct
correct

In [7]:
# hw 3

def contains_value(arr, x):
    """
    checks if passed in list contains value  
    
    Parameters
    ----------
    arr : list
        List contains vaues
    x : int
        value to be checked

    Returns
    -------
    bool
        
    """
    # return x in arr # more efficient
    return any([True if x == y else False for y in arr])

In [8]:
assertion('3a', contains_value([1,2,3], 1), True)
assertion('3b', contains_value([1,2,3], 4), False)

correct
correct

In [9]:
# hw 4 

def check_if_all_positive(arr):
    """
    checks all values in the list are positive
    
    Parameters
    ----------
    arr : list
        List contains values

    Returns
    -------
    bool
    
    """
    # return all([True if x > 0 else False for x in arr])
    return all([ x > 0 for x in arr])

In [10]:
assertion('3a', check_if_all_positive([1,-4,3]), False)
assertion('3b', check_if_all_positive([1,2,3]), True)

correct
correct

In [11]:
# not hw - don't change anything in this block
import pandas as pd

def get_data():
    """
    get the data
    """
    data = pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/zillow.csv', index_col=0)
    data.columns = [ i.replace('"', '').strip() for i in data.columns]
    
    return data

def get_zip_code_state_dictionary():
    """
    returns zip code: state dictionary
    data is random :)

    """
    
    d = { zcode: "MD" if str(zcode)[4] > '6' else "VA" for zcode in [32301, 32303, 32308, 32309, 32310, 32311, 32312] }
    return d

In [13]:
# hw 5

def get_and_prepare_data(df):
    """
    add a column to the table named State with the state information based on zip code
    and return the data frame
    """
    zcode_states = get_zip_code_state_dictionary()
    # don't change any existing code ----
    
    # df['State'] = df['Zip'].map(zcode_states) 
    df['State'] = [ zcode_states[zip_code] for zip_code in df['Zip'] ]
    
    # ------
    
    return df

In [14]:
zillow = get_data()

zillow_with_state = get_and_prepare_data(zillow)
zillow_with_state.head()

       Living Space (sq ft)  Beds  Baths    Zip  Year  List Price ($) State
Index
1                      2222     3    3.5  32312  1981          250000    VA
2                      1628     3    2.0  32308  2009          185000    MD
3                      3824     5    4.0  32312  1954          399000    VA
4                      1137     3    2.0  32309  1993          150000    MD
5                      3560     6    4.0  32309  1973          315000    MD

In [15]:
zc = get_zip_code_state_dictionary()
if('State' not in zillow_with_state.columns):
    print ('incorrect')
else:
    assertion('5a', all([ zc[z] == s  for z, s in zip(zillow_with_state['Zip'], zillow_with_state['State'])]), True)

correct

## Score Part1

In [16]:
str(sum(score.values())) + "/7"

'7/7'

## Fake Data

1. Email addresses
1. Phone numbers
1. Home Address
1. Person's name
1. Year born. Use realistic values.
1. Number of kids. Use realistic values.
1. Categorical variable: rent or own?
1. Annual income. Optional challenge: Use a non-uniform distribution
1. Number of speeding tickets in past year. Optional challenge: Use a non-uniform distribution


Complete the following method(s). 

Use libraries to generate fake data

In [17]:
# you can add additional functions here

import pandas
import numpy as np 
import random

from faker import Faker
fake = Faker()

def non_uniform_income_class():
    """
    calculates a random income class (lower, middle, upper) based on 2016 data of %households in each income bracket
    29% of American adults = lower income class
    52% of American adults = middle class
    19% of American adults = upper class
    Assumes these are probabilities for entities' incomes in table
    Source: (https://www.investopedia.com/financial-edge/0912/which-income-class-are-you.aspx)
    
    returns:
    --------
    string
    
    """
    income_class = np.random.choice(['lower income','middle income','upper income'], 1, p=[0.29,0.52,0.19])
    return income_class[0]

    
def income(income_class_range):
    """
    Based on a given income bracket, calculates a random income ($) based on 2016 data using a Gaussian distribution
    Source: (https://www.investopedia.com/financial-edge/0912/which-income-class-are-you.aspx)
    
    Parameters:
    -----------
    income_class_range: string 
        lower, middle, or upper income
        
    Returns:
    -------
    int
    
    """
    
    if income_class_range == 'lower income':
        return int(random.gauss(25624,25000))
    elif income_class_range == 'middle income':
        return int(random.gauss(78442,25000))
    elif income_class_range == 'upper income':
        return int(random.gauss(187827,25000))
    return None
        
def speeding_tickets():
    """
    Calculates random number of speeding tickets, assuming the following probabilities (non uniform distribution)
    0: 40%
    1: 30%
    2: 20%
    3: 4%
    4: 2%
    5: 2%
    6: 2%
    
    Returns:
    -------
    int
    
    """
    num_of_speeding_tickets = np.random.choice([0,1,2,3,4,5,6], 1, p=[0.4,0.3,0.2,0.04,0.02,0.02,0.02])
    return num_of_speeding_tickets[0]

In [18]:
def generate_fake_data(row=50):
    """
    Generates fake data
    
    Parameters
    ---------
    row: int number of rows 
    
    Output: pandas dataframe
    """
    dframe = pandas.DataFrame()
    
    dframe['Email Address'] = [fake.email() for i in range(0,row)]
    dframe['Phone Number'] = [fake.phone_number() for i in range(0,row)]
    dframe['Home Address'] = [fake.address() for i in range(0,row)]
    dframe['Name'] = [fake.name() for i in range(0,row)]
    dframe['Birth Year'] = [random.randint(1920,2003) for i in range(0,row)]
    dframe['Number of Kids'] = [random.randint(0,6) for i in range(0,row)]
    dframe['Rent or own?'] = [random.choice(['Rent','Own']) for i in range(0,row)]
    dframe['Annual Income'] = [income(non_uniform_income_class()) for i in range (0,row)]
    dframe['Speeding Tickets in the past year'] = [speeding_tickets() for i in range(0,row)]
    
    return dframe

In [21]:
# or 

def generate_fake_data(row=50):
    """
    Generates fake data
    
    Parameters
    ---------
    row: int number of rows 
    
    Output: pandas dataframe
    """
    df = pd.DataFrame()
    df['Email'] = [fake.email() for _ in range(row)]
    df['Phone'] = [fake.phone_number() for _ in range(row)]
    df['Home Address'] = [fake.address() for _ in range(row)]
    df['Name'] = [fake.name() for _ in range(row)] 
    df['Birth Year'] = [random.randint(1940,2000) for _ in range(row)] 
    df['Number of Kids'] = [random.randint(0,5) for _ in range(row)]
    df['Rent or Own'] = [fake.random_element(elements=('Rent','Own')) for _ in range(row)] 
    df['Annual Income'] = [max(int(random.normalvariate(100000,25000)), 25000) for _ in range(row)]
    df['Number of Tickets'] = [int(random.expovariate(0.6)) for _ in range(row)]
    return df

In [22]:
df = generate_fake_data(10)
df

,Email,Phone,Home Address,Name,Birth Year,Number of Kids,Rent or Own,Annual Income,Number of Tickets
0,lori55@salinas-curtis.biz,001-034-070-8623x5161,"05612 Chad Inlet\nWest Randy, CT 90950",Arthur Lee,1991,5,Rent,81888,3
1,swheeler@hotmail.com,001-849-135-3524x8407,"PSC 0914, Box 8388\nAPO AA 26571",Kenneth Washington,1940,5,Rent,129741,0
2,swarner@short-aguirre.com,651.769.3813x6660,Unit 0780 Box 8734\nDPO AE 12480,Diana Watts,1998,4,Rent,134393,1
3,nicholsnicole@horn-cardenas.org,584.457.3563x38238,"61109 Carrie Shoal\nWhitakermouth, FL 18734",Timothy Skinner,1982,4,Own,98184,2
4,ryan34@miller-palmer.com,248.391.9627,"5597 John Spring Suite 788\nDavidburgh, OK 54045",Darius Johnson,1964,2,Rent,73313,1
5,summerslaura@gmail.com,001-229-437-9799,"3154 Tamara Shoals\nNew Eric, AR 04890",Michael Simmons,1998,0,Own,79107,0
6,justinwood@yahoo.com,6033549761,49095 Martinez Union Apt. 984\nNew Edwardhaven...,Meghan Rodriguez,1990,2,Own,142957,0
7,campbellheidi@gmail.com,4890471279,"6346 Cline Dam\nJamesborough, MO 82437",Paula Summers,1941,3,Rent,72813,2
8,johnwaters@clayton.info,(827)030-0797,"750 Derek Fort\nEast Jessicaview, WV 62476",Lisa Cooper,1981,0,Rent,89376,5
9,russojennifer@gmail.com,585-191-2433x184,"0265 Lawson Road\nPort Jenniferfurt, VA 83905",Wesley Mejia,1970,1,Own,128727,5