In [1]:
import requests
import pandas
pandas.__version__

'0.25.1'

Let's try to get the list of states shown on this page: https://www.omnisci.com/docs/latest/3_apdx_states.html

Pandas passes the URL to urllib

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_html.html

In [2]:
page_content = pandas.read_html("https://docs.omnisci.com/v4.4.1/3_apdx_states.html")
page_content

[    0   1
 0 NaN NaN,                    State Abbreviation
 0                Alabama           AL
 1                 Alaska           AK
 2                Arizona           AZ
 3               Arkansas           AR
 4             California           CA
 5               Colorado           CO
 6            Connecticut           CT
 7               Delaware           DE
 8   District of Columbia           DC
 9                Florida           FL
 10               Georgia           GA
 11                Hawaii           HI
 12                 Idaho           ID
 13              Illinois           IL
 14               Indiana           IN
 15                  Iowa           IA
 16                Kansas           KS
 17              Kentucky           KY
 18             Louisiana           LA
 19                 Maine           ME
 20              Maryland           MD
 21         Massachusetts           MA
 22              Michigan           MI
 23             Minnesota           MN
 24           Mississippi           MS
 25              Missouri           MO
 26               Montana           MT
 27              Nebraska           NE
 28                Nevada           NV
 29         New Hampshire           NH
 30            New Jersey           NJ
 31            New Mexico           NM
 32              New York           NY
 33        North Carolina           NC
 34          North Dakota           ND
 35                  Ohio           OH
 36              Oklahoma           OK
 37                Oregon           OR
 38          Pennsylvania           PA
 39          Rhode Island           RI
 40        South Carolina           SC
 41          South Dakota           SD
 42             Tennessee           TN
 43                 Texas           TX
 44                  Utah           UT
 45               Vermont           VT
 46              Virginia           VA
 47            Washington           WA
 48         West Virginia           WV
 49             Wisconsin           WI
 50               Wyoming           WY
 51           Puerto Rico           PR]

In [3]:
type(page_content)

list

In [4]:
page_content[0]

    0   1
0 NaN NaN

In [5]:
page_content[1]

                   State Abbreviation
0                Alabama           AL
1                 Alaska           AK
2                Arizona           AZ
3               Arkansas           AR
4             California           CA
5               Colorado           CO
6            Connecticut           CT
7               Delaware           DE
8   District of Columbia           DC
9                Florida           FL
10               Georgia           GA
11                Hawaii           HI
12                 Idaho           ID
13              Illinois           IL
14               Indiana           IN
15                  Iowa           IA
16                Kansas           KS
17              Kentucky           KY
18             Louisiana           LA
19                 Maine           ME
20              Maryland           MD
21         Massachusetts           MA
22              Michigan           MI
23             Minnesota           MN
24           Mississippi           MS
25              Missouri           MO
26               Montana           MT
27              Nebraska           NE
28                Nevada           NV
29         New Hampshire           NH
30            New Jersey           NJ
31            New Mexico           NM
32              New York           NY
33        North Carolina           NC
34          North Dakota           ND
35                  Ohio           OH
36              Oklahoma           OK
37                Oregon           OR
38          Pennsylvania           PA
39          Rhode Island           RI
40        South Carolina           SC
41          South Dakota           SD
42             Tennessee           TN
43                 Texas           TX
44                  Utah           UT
45               Vermont           VT
46              Virginia           VA
47            Washington           WA
48         West Virginia           WV
49             Wisconsin           WI
50               Wyoming           WY
51           Puerto Rico           PR

In [6]:
type(page_content[1])

pandas.core.frame.DataFrame