Write a class that generates fake data.

* Write the code under the py docs ( do NOT remove py docs )
* Before comitting do a Restart & Run All

In [1]:
from faker import Faker
import random
faker = Faker()

In [9]:

class FakeDataGenerator:
    
    def __init__(self, df = None, rows=5):
        """
        This class generates fake data
        
        If data frame is passed in it will add the fake data to it. 
        Otherwise, it will create a new data frame
        
        Parameters:
        -----------
        df: 
          DataFrame default is None
          
        rows:
          If df None, this parameter will be used to create a data frame with `row` lenght
        """
        # code goes under this line. 
        # I will deduct points if any code is written above the comments!
    
        self.data = df
        if self.data is None :
                self.data = pd.DataFrame()
                self.length = rows
                
        else: 
                self.length = len(df)
        
        
    def add_random_number(self, column_name, small_value, high_value): # optional: add probabilities 
        """
        adds fake numbers to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        
        self.data[column_name] = [random.randint(small_value, high_value) for j in range(self.length)]    
        return self.data
        
    def add_name(self, column_name):
        """
        adds fake name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.data[column_name] =[faker.name() for j in range(self.length)] 
        return self.data
    
    def add_last_name(self, column_name):
        """
        adds fake last name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.data[column_name] =[faker.name() for j in range(self.length)] 
        return self.data
    
    def add_email(self, column_name):
        """
        adds fake email to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.data[column_name] =[faker.email() for j in range(self.length)] 
        return self.data
    
    def add_phone_number(self, column_name):
        """
        adds fake name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.data[column_name] =[faker.phone_number() for j in range(self.length)] 
        return self.data
    
    def add_address(self, column_name):
        """
        adds fake name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.data[column_name] =[faker.address() for j in range(self.length)] 
        return self.data

In [10]:
import pandas as pd

# Case 1 - existing data frame 
df = pd.DataFrame()
df['product_id'] = [i + 123 for i in range(25)]
df.head()

   product_id
0         123
1         124
2         125
3         126
4         127

In [11]:
fakeGen = FakeDataGenerator(df) # I'm creating instance using existing df
fakeGen.add_address('shipping_address')
fakeGen.add_address('billing_address')
fakeGen.add_phone_number('customer_phone')

,product_id,shipping_address,billing_address,customer_phone
0,123,"759 Nicholas Views Suite 599\nEast Brenda, KS ...","32749 Velazquez Locks Apt. 344\nKnighthaven, W...",544.076.9182x350
1,124,"561 Stone Route Apt. 100\nSouth Lee, MA 01763","332 Christopher Circle\nEast Monicafurt, SD 39206",484.998.4931
2,125,"46890 Rodriguez Pike Apt. 899\nJohnshire, OH 2...","563 Crystal Ridges Apt. 442\nLynnchester, MI 2...",+1-191-523-6974
3,126,"88275 Amanda Stravenue Suite 901\nReedborough,...","90914 Jason Courts Apt. 223\nCurtisstad, MS 36253",302-715-2476x1048
4,127,"42115 Linda View\nMurphyborough, KS 92486","42858 Ford Way Suite 483\nEast Morgan, CA 96598",001-761-050-9880x7542
5,128,171 Nguyen Circles Apt. 856\nWest Sheriborough...,"36712 Nancy Curve Suite 617\nMarkfurt, CA 56325",(339)053-5234x7180
6,129,"0419 Hill Drive Suite 710\nNew Robert, MS 75705","08366 Marissa Highway\nSouth Holly, OH 42426",+1-498-222-8491x1363
7,130,"3879 Foster Lights\nMeyersville, VA 53897","601 Nguyen Views Apt. 604\nLeeshire, TN 89902",571-503-6270x99557
8,131,"535 Amanda Roads\nSmithmouth, IA 54475","1108 Bell Tunnel\nNicholshaven, SD 64078",614.016.0910x7610
9,132,"012 Toni Burg\nAngelashire, OH 10933","106 Erin Green\nGardnerhaven, MO 08312",4907291452
10,133,"PSC 1897, Box 4642\nAPO AE 82264","3725 Terri Forest\nNorth Jerrymouth, ND 07389",(813)784-8526x2496
11,134,48948 Erik Meadow Suite 905\nWest Christophers...,"68144 Gomez Hill Apt. 831\nMichaelmouth, IL 17351",(001)910-0111x167
12,135,"88655 Wagner Wall Apt. 959\nHoodhaven, WV 63133","445 Porter Hill\nMatthewmouth, NJ 95064",001-632-526-4616x6297
13,136,"932 Benjamin Turnpike\nLake Jamiefurt, ID 16851","193 James Crossing\nMooreborough, WI 95502",001-784-402-5172x569
14,137,"369 Baker Throughway Apt. 594\nLinborough, CA ...","995 Sharon Alley\nJonesport, AL 94763",155.512.9290
15,138,"PSC 2643, Box 6680\nAPO AP 62478","343 Stacy Centers\nMortonberg, ME 76447",6647844672
16,139,"40390 Edwin Rest\nLake Kathyfurt, HI 63512","121 Andrew Highway Suite 947\nNorth Mark, NM 6...",+1-861-945-1370x727
17,140,"49809 Vance Lock Suite 248\nPort Sherimouth, W...","PSC 7197, Box 3123\nAPO AA 97551",(151)737-1159x65545
18,141,"3933 Fisher Summit\nThomaston, WA 47255","86833 Solis Trace Apt. 472\nAllenside, HI 75639",(327)945-6724
19,142,"8116 Robert Isle Apt. 175\nMollychester, OH 85661","811 Shelby Grove Apt. 812\nBryantown, NH 19337",1637805092
20,143,"399 Camacho Prairie Apt. 808\nWilcoxberg, IN 3...","26073 John Well Apt. 724\nNancymouth, NJ 22553",001-254-251-8930x97170
21,144,"95773 Justin Radial\nSouth Sharon, AR 04154","3140 Kimberly Lane Apt. 148\nKristinside, HI 5...",022-580-5212
22,145,"70014 Flores Shoal\nNew Barry, WY 81978","424 Miguel Corner Apt. 602\nEllisstad, IA 74490",+1-409-981-5113x0447
23,146,"62647 Chad Springs\nNorth Matthew, AL 67138","48208 Sharon Glen\nPort Anne, VA 31102",(952)582-6038x534
24,147,"11960 Nicole Extension\nKevinmouth, MN 99330","65041 Cantu Knoll Suite 769\nNorth Eric, AL 21105",001-447-174-5359x93842

In [12]:
# Case 2 - no dataframe

fakeGen = FakeDataGenerator() # no df
fakeGen.add_address('shipping_address')
fakeGen.add_address('billing_address')
fakeGen.add_phone_number('customer_phone')
fakeGen.add_random_number('sale_count', 10, 100)

,shipping_address,billing_address,customer_phone,sale_count
0,"55174 Melinda Pass Apt. 952\nNew Johnmouth, AL...","595 Angela Flats\nNew Ericfort, NH 10324",878-650-3530x026,36
1,"6362 Ann Stravenue\nBriannaton, MA 80006","41223 Jordan Bypass\nNew Dianaburgh, MA 86090",001-184-587-9951x901,58
2,4217 Heather Islands Suite 561\nLake Christina...,"3033 Wheeler Brooks Apt. 492\nHayesland, OH 15117",9603828906,55
3,"0255 Jerry Ports Suite 947\nLake Joseph, RI 13543","30810 Matthew Club\nNorth Kristi, HI 53405",079-990-2136x0312,92
4,"84998 Lynn Vista\nMillermouth, TN 10317","3867 Stout Manor\nWest Jared, TX 04514",(918)806-3698x9274,99