In [134]:
import pandas as pd
import numpy as np

In [80]:
class Animal:
    def __init__(self, name):
        self.name = name
    
    def eat(self):
        print(f'{self.name} is eating')
        
    def sleep(self):
        print(f'{self.name} is sleeping')
        
    def go(self):
        print(f'{self.name} is walking on its four legs')
    
    def get_name(self):
        return self.name
        
#     def talk(self):
#         print(f'{self.name} ??')

In [81]:
p = Animal('fox')
p.eat()
p.go()
p.sleep()

fox is eating
fox is walking on its four legs
fox is sleeping

In [82]:
class Human(Animal):
    def __init__(self, name):
        super().__init__(name)
    
    def talk(self):
        print(f'{self.name} is talking like a human being')

In [83]:
j = Human('John')

In [184]:
j.eat()
j.go()
j.sleep()
j.talk()

John is eating
John is walking on its four legs
John is sleeping
John is talking like a human being

In [185]:
df = pd.DataFrame()

In [186]:
type(df)

pandas.core.frame.DataFrame

In [187]:
df.describe()

ValueError: Cannot describe a DataFrame without columns

In [174]:
class MyDataFrame(pd.core.frame.DataFrame):
    
    def describe(self):
        try: 
            return super().describe()
        
        except ValueError as err: 
            print (err)
            
    def insight(self):
        print(self.shape)
        for col in df.columns:
            print(col + ' has ' + str(df[col].nunique()) + ' unique values')

In [189]:
df = MyDataFrame()

In [190]:
type(df)

__main__.MyDataFrame

In [176]:
df.describe()

Cannot describe a DataFrame without columns

In [177]:
df['A'] = [x for x in range(100)]
df['B'] = np.random.normal(0, 1, 100)

In [178]:
df.describe()

                A           B
count  100.000000  100.000000
mean    49.500000   -0.074593
std     29.011492    0.999413
min      0.000000   -2.544410
25%     24.750000   -0.702478
50%     49.500000   -0.122723
75%     74.250000    0.502119
max     99.000000    2.585577

In [179]:
df.head()

   A         B
0  0 -0.686286
1  1 -0.057488
2  2 -0.948733
3  3  0.187625
4  4 -0.227211

In [180]:
df.tail()

     A         B
95  95 -0.604344
96  96 -0.421757
97  97  0.886959
98  98 -0.700943
99  99 -0.006489

In [181]:
df.insight()

(100, 2)
A has 100 unique values
B has 100 unique values

## Abstract Classes

In [11]:
import os

class FileProcessor:
    
    def __init__(self, path='./data/', file_types=['.*']):
        print('doing some initialization')
        
        self.files = self.find_all_files(path, file_types)

    
    def find_all_files(self, path, file_types):
        paths = []
        for root, dirs, files in os.walk(path):
            for file in files:
                if any([file.endswith(ft) for ft in file_types]):
                    path = os.path.join(root, file)
                    print(path)
                    paths.append(path)
        print(paths)
        return paths
    
    def start(self):
        """
        Entry point for the class
        """
        for file in self.files:
            self.process_file('')
        
    def process_file(self,content):
        """
        abstract method
        """
        raise NotImplemented('process_file method not implemented')

In [12]:
FileProcessor().start()

doing some initialization
[]